# API Base URL pointing to the store_backend server
VITE_API_URL=http://localhost:3000

# Application Title
VITE_APP_TITLE="Ricky Mobile Store"

# Default Support Chat message
VITE_CHAT_SUPPORT_REPLY="Thanks for your message! Our team will get back to you shortly. Typical response time is under 5 minutes."
